/* Prvek inspector */
#wap_inspector 
{
    font-size: 10px; 
    position:fixed;
    top: 0;
    right: 0;
    width: 450px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    font-family: sans-serif;
    background-color: #f5f5dc;
    border-left: 2px black solid;
    border-bottom: 2px black solid;
}

/* Upraveni seznamu v inspectoru */
#wap_inspector li
{
  margin-left: -20px;
  list-style-type: square;
}

/* Trida aktivniho prvku */
.wap_active
{
  border: 1px red solid;
}

/* Trida pro schovani editoru */
.wap_hidden
{
  display: none;
}

/*Trida prvku na upravovani class a id*/
.wap_editor li
{
  list-style-type: none;
  background-color:#d6c99e;
  display: block;
}





